$body-background-color: #FFFFFF;
$sidebar-color: #FCFCFF;
$border-color: #E7E7E7;

$body-text-color: #1A1A1A;
$body-heading-color: #1A1A1A;
$nav-child-link-color: $grey-dk-300;
$search-result-preview-color: #242424;

$link-color: #007FFF;
$btn-primary-color: #007FFF;
$base-button-color: #FFFFFF;

$code-background-color: #FAFAFA;
$search-background-color: #FAFAFA;
$table-background-color: #FAFAFA;
$feedback-color: darken($sidebar-color, 3%);
