$body-background-color: #fff;
$sidebar-color: #fcfffc;
$border-color: #e7e7e7;
$body-text-color: #1a1a1a;
$body-heading-color: #1a1a1a;
$nav-child-link-color: $grey-dk-300;
$search-result-preview-color: #242424;
$link-color: #1ea315;
$btn-primary-color: #1ea315;
$base-button-color: #fff;
$code-background-color: #fafafa;
$search-background-color: #fafafa;
$table-background-color: #fff;
$feedback-color: darken($sidebar-color, 3%);
