<div class="banner-container">
    <div class="container main-section">
        <h1 class="header center title">{{ site.title }}</h1>
        <div class="row center">
            <h5 class="header col s12 light description">{{ site.description }}<br/>{{ site.campaign_slogan }}</h5>
        </div>
        <br/>
        <div class="row center">
            <a href="/tutorial/get-started-sqlserver" id="get-started-button" class="btn-large waves-effect waves-light orange circled-large button">
            Get Started
            </a>
        </div>
    </div>
    <br/>
    <br/>
</div>  