<div class="codes-container">
    <div class="container">
        <div class="section">

            <h3 class="center light-blue-text uppercase title">What you will learn</h3>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/connection.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/transaction.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/hints.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/cache.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/classmappings.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/implicitmappings.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/dynamics.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/propertyhandler.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/batchoperation.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/enumeration.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/trace.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/repository.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

            <h3 class="center light-blue-text uppercase title">Bulk Operations</h3>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/bulkinsert.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/bulkmerge.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/bulkupdate.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="code-block">
                        {% capture var %}{% include_relative code/bulkdelete.md %}{% endcapture %}
                        {{ var | markdownify }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>  