<div class="detail-container">
    <div class="container">
        <div class="group">
            <h3 class="center uppercase lighter">What you will learn today</h3>
            <div>
            <p class="center">Put more contents here</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="group">
            <h3 class="center uppercase lighter">Testimonials</h3>
            <div>
            <p class="center">No testimonials yet.</p>
            </div>
        </div>
    </div>
</div>  