<nav class="lighten-1 header" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">
        <img src="/assets/icons/RepoDb-64x64.png" />
      </a>
      <ul class="right hide-on-med-and-down white-text uppercase">
          <li><a href="/docs">Docs</a></li>
          <li><a href="/reference/connectionrepository">References</a></li>
          <li><a href="/releases/core">Releases</a></li>
          <li><a href="https://github.com/mikependon/RepoDb">Github</a></li>
      </ul>
    </div>
</nav>