<div class="sidebar">
    {% for doc in site.data.documentation.docs %}
    <ul>
        <li>
            <b>{{ doc.title }}</b>
            <ul>
                {% for topic in doc.topics %}
                {% if topic.url == page.permalink %}
                <li><a href="{{ topic.url }}"><b>{{ topic.title }}</b></a></li>
                {% else %}
                <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
    </ul>
    {% endfor %}
</div>