<div class="sidebar">
    {% for doc in site.data.documentation.docs %}
    <ul class="doc-container">
        <li class="doc-item">
            {% if doc.key == page.sidebar %}
            <a class="doc-title selected" href="{{ doc.url }}"><b>{{ doc.title }}</b></a>
            <ul class="topic-container">
                {% for topic in doc.topics %}
                {% if topic.url == page.permalink %}
                <li class="topic-item selected"><a class="topic-title selected" href="{{ topic.url }}"><b>{{ topic.title }}</b></a></li>
                {% else %}
                <li class="topic-item"><a class="topic-title" href="{{ topic.url }}">{{ topic.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <a class="doc-title" href="{{ doc.url }}">{{ doc.title }}</a>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
</div>