@charset "utf-8";

body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #29b6f6;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}
.collection .collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
.post-header h1article.post-title {
    color: #29b6f6;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}
p.rss-subscribe {
    margin: 0;
}

/* Customized by Michael Camara Pendon */

.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.justify {
    text-align: justify;
}
.lighter {
    font-weight: lighter;
}
.circled-large {
    border-radius: 50px;
}

/*
 * Header
 */
nav.header {
    background-color: #3EB0FF;
    box-shadow: none;
}
.brand-logo img {
    border: 2px solid white;
    display: block;
    height: 36px;
    margin-top: 10px;
}

@media only screen and (min-width: 600px)
{
    .brand-logo img {
        height: 46px;
    }
}

/*
 * Home
 */
.banner-section {
    background-color: #2DAAA6;
    /*background-color: #FAFAFA;
    background-image: url('/assets/backgrounds/banner.png');
    border-bottom: 1px solid #E7E7E7;*/
}
.icon-section {
    border-bottom: 1px solid #D7D7D7;
}
.main-section .title {
    color: #FFFFFF; // rgb(82, 82, 82);
    font-size: 500%;
    font-weight: lighter;
    margin-bottom: 10px;
    /*text-shadow: 1px 1px 3px rgb(190, 190, 190);*/
    text-shadow: 0px -1px rgb(20, 116, 112);
}
.main-section .description {
    color: #FFFFFF;
    font-size: 150%;
    font-weight: lighter;
}
.main-section .button {
    text-shadow: -0px -1px rgb(221, 149, 16);
}
.detail-section {
    padding-bottom: 50px;
}

/*
 * Sidebar
 */
 .sidebar {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
}

.sidebar ul.doc-container {
    list-style-type: none !important;
    padding-top: 10px;
}

.sidebar ul li {
    list-style-type: none !important;
}

.sidebar .doc-container
{
    margin: 0px;
}

.sidebar .doc-item {
    margin: 0px;
}

.sidebar .topic-item {
    margin: 3px 10px;
}

.sidebar .selected {
    color: #EE6E73;
}

 /*
  * Footer
  */

.page-footer .footer-contents h5 {
    text-shadow: 0px -1px rgba(126, 32, 32, 0.774);
}

.page-footer .footer-contents a:hover {
    text-decoration: underline;
}

/*
 * Post
 */
 
/* Markup - HTML */
.post, .page {
    margin-bottom: 50px;
}
.post h1, .page h1 {
    color: #29b6f6;
    font-size: 300%;
}
.post h2, .page h2 {
    color: #29b6f6;
    font-size: 250%;
}
.post h3, .page h3 {
    font-size: 200%;
}
.post h4, .page h4 {
    font-size: 150%;
}
.post h5, .page h4 {
    font-size: 120%;
}
.post h6, .page h6 {
    font-weight: bold;
    text-decoration: underline;
}
.post h1, .post h2, .page h1, .page h2 {
    border-bottom: 2px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
.post h3, .post h4, .post h5, .page h3, .page h4, .page h5 {
    border-bottom: 1px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
.post h5, .page h5 {
    border-bottom: 1px dotted #E7E7E7;
}
.post hr, .page hr {
    border: none;
    border-top: 2px solid #E7E7E7;
    display: block;
    margin: 20px 0px;
    padding: none;
}
.post ul, .page ul {
    list-style-type: disc;
}
.post ul li, .page ul li {
    list-style-type: inherit;
    margin-left: 20px;
}

/* Code - coding colors */
p .highlighter-rouge, .li .highlighter-rouge {
    font-family: 'Courier New', Courier, monospace;
}
pre.highlight {
    /*background-color: #FDFDFD;*/
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    /*box-shadow: #F4F4F4 1px 1px 3px inset;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    padding: 15px;
}
pre.highlight code .n, pre.highlight code .nc, pre.highlight code .nf {
    color: #2DAAA6;
}
pre.highlight code .kt, pre.highlight code .k {
    color: #1A1AFF;
}
pre.highlight code .cm, pre.highlight code .c1 {
    color: #57A64A;
}
pre.highlight code .s {
    color: #BE4B16;
}
blockquote {
    background: #FAFAFA;
    border: 1px dashed #E7E7E7;
    border-left: 5px solid #EE6E73;
    border-radius: 3px;
    padding: 0px;
}
blockquote p {
    color:  gray;
    margin: 10px;
}
em {
    font-family: 'Courier New', Courier, monospace;
}