@charset "utf-8";

body {
    font-family: 'Segoe UI', Helvetica, Tahoma, Arial, sans-serif, Geneva, Verdana;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

/* Customized by Michael Camara Pendon */

.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.justify {
    text-align: justify;
}
.lighter {
    font-weight: lighter;
}
.circle-large {
    border-radius: 50px;
}

/*
 * Header
 */
nav.header {
    background-color: #3EB0FF;
    box-shadow: none;
}
.brand-logo img {
    border: 2px solid white;
    display: block;
    height: 36px;
    margin-top: 10px;
}

@media only screen and (min-width: 600px)
{
    .brand-logo img {
        height: 46px;
    }
}

/*
 * Sidebar
 */
 .sidebar {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
}

.sidebar ul.doc-container {
    list-style-type: none !important;
    padding-top: 10px;
}

.sidebar ul li {
    list-style-type: none !important;
}

.sidebar .doc-container
{
    margin: 0px;
}

.sidebar .doc-item {
    margin: 0px;
}

.sidebar .topic-item {
    margin: 3px 10px;
}

.sidebar .selected {
    color: #EE6E73;
}

 /*
  * Footer
  */

.page-footer .footer-contents h5 {
    text-shadow: 0px -1px rgba(126, 32, 32, 0.774);
}

.page-footer .footer-contents a:hover {
    text-decoration: underline;
}

/*
 * Home
 */

 /* Banner */

.banner-section {
    background-color: #2DAAA6;
    /*background-color: #FAFAFA;
    background-image: url('/assets/backgrounds/banner.png');
    border-bottom: 1px solid #E7E7E7;*/
    padding: 40px 0px;
}
.banner-section .title {
    color: #FFFFFF;
    font-size: 500%;
    font-weight: lighter;
    text-shadow: 0px -1px rgb(20, 116, 112);
    margin: 0px;
    padding: 0px;
}
.banner-section .description {
    color: #FFFFFF;
    font-size: 150%;
    font-weight: lighter;
}
.banner-section .button {
    text-shadow: -0px -1px rgb(221, 149, 16);
}

/* Icons */

.icons-section {
    border-bottom: 1px solid #D7D7D7;
    box-shadow: 1px 1px 5px #E7E7E7;
    margin-bottom: 20px;
}
.icons-section .icon-block {
    padding: 0 15px;
}
.icons-section .icon-block .material-icons {
      font-size: inherit;
  }

/* Codes */

.codes-section {
    font-weight: lighter;
}
.codes-section .title {
    background: #F4F4F4;
    border-radius: 4px;
    font-size: 200%;
    font-weight: bolder;
    margin: 0px;
    padding: 20px;
    text-shadow: 0px 1px #FFFFFF;
}
.codes-section .highlighter-rouge {
    font-size: 90%;
}
.codes-section .highlighter-rouge .highlight {
    background: #F7F7F7;
    border: 0px;
    border-radius: 4px;
}
.codes-section .code-title {
    border-bottom: 1px dotted #E7E7E7;
    display: block;
    padding-bottom: 10px;
}

/*
 * Post/Page
 */
 
/* Markup - HTML */
.post, .page {
    margin-bottom: 50px;
}
.post h1, .page h1 {
    color: #29b6f6;
    font-size: 300%;
}
.post h2, .page h2 {
    color: #29b6f6;
    font-size: 250%;
}
.post h3, .page h3 {
    font-size: 200%;
}
.post h4, .page h4 {
    font-size: 150%;
}
.post h5, .page h5 {
    font-size: 120%;
}
.post h6, .page h6 {
    font-weight: bold;
    text-decoration: underline;
}
.post h1, .post h2, .page h1, .page h2 {
    border-bottom: 2px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
.post h3, .post h4, .post h5, .page h3, .page h4, .page h5 {
    border-bottom: 1px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
.post h5, .page h5 {
    border-bottom: 1px dotted #E7E7E7;
}
.post hr, .page hr {
    border: none;
    border-top: 2px solid #E7E7E7;
    display: block;
    margin: 20px 0px;
    padding: none;
}
.post ul, .page ul {
    list-style-type: disc;
}
.post ul li, .page ul li {
    list-style-type: inherit;
    margin-left: 20px;
}

/*
 * Blogs
 */
 .blogs-container .blog-title {
    border-bottom: 2px solid #D7D7D7;
    margin: 0px;
    padding-bottom: 30px;
}

.blogs {
    list-style-type: none;
    margin: 0px;
}

.blogs .blog-entry {
    border-bottom: 1px solid #E7E7E7;
    list-style-type: none;
    margin: 0px;
    padding: 20px 0px;
}

.blogs .blog-entry .title {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.blogs .blog-entry .author {
    display: block;
    margin-top: 10px;
}

/* Code - coding colors */
.highlighter-rouge {
    font-family: 'Courier New', Courier, monospace;
}
pre.highlight {
    /*background-color: #FDFDFD;*/
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    /*box-shadow: #F4F4F4 1px 1px 3px inset;*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    padding: 15px;
}
pre.highlight code .n, pre.highlight code .nc, pre.highlight code .nf {
    color: #2DAAA6;
}
pre.highlight code .kt, pre.highlight code .k {
    color: #1A1AFF;
}
pre.highlight code .cm, pre.highlight code .c1 {
    color: #57A64A;
}
pre.highlight code .s {
    color: #BE4B16;
}
blockquote {
    background: #FAFAFA;
    border: 1px dashed #E7E7E7;
    border-left: 5px solid #EE6E73;
    border-radius: 3px;
    padding: 0px;
}
blockquote p {
    color:  gray;
    margin: 10px;
}
em {
    color: #777777;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}