@charset "utf-8";

body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #29b6f6;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}
.collection .collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
.post-header h1.post-title {
    color: #29b6f6;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}
p.rss-subscribe {
    margin: 0;
}

/* Customized by Michael Camara Pendon */

.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.justify {
    text-align: justify;
}
.lighter {
    font-weight: lighter;
}
.circled-large {
    border-radius: 50px;
}

/*
 * Header
 */
nav.header {
    background-color: #3EB0FF;
    box-shadow: none;
}
.brand-logo img {
    border: 2px solid white;
    /*box-shadow: 1px 1px 4px rgb(26, 76, 92);*/
    display: block;
    margin-top: 10px;
}

/*
 * Home
 */
.banner-section {
    /*background-color: #2DAAA6;*/
    background-color: #FAFAFA;
    border-bottom: 1px solid #C7C7C7;
}
.icon-section {
    border-bottom: 1px solid #C7C7C7;
}
.main-section .title {
    color: rgb(82, 82, 82);
    font-size: 500%;
    font-weight: lighter;
    margin-bottom: 10px;
    /*text-shadow: 1px 1px 3px rgb(190, 190, 190);*/
}
.main-section .description {
    font-size: 150%;
    font-weight: lighter;
}
.main-section .button {
    text-shadow: -0px -1px rgb(221, 149, 16);
}
.detail-section {
    padding-bottom: 50px;
}

 /*
  * Footer
  */

.page-footer .footer-contents h5 {
    text-shadow: 0px -1px rgba(126, 32, 32, 0.774);
}

.page-footer .footer-contents a:hover {
    text-decoration: underline;
}
 
/*
 * Page
 */
 
/* Markup - HTML */
div.page {
    margin-bottom: 50px;
}
div.page h1 {
    font-size: 300%;
}
div.page h2 {
    font-size: 250%;
}
div.page h3 {
    font-size: 200%;
}
div.page h4 {
    font-size: 150%;
}
div.page h5 {
    font-size: 120%;
}
div.page h6 {
    font-weight: bold;
}
div.page h1, div.page h2 {
    border-bottom: 2px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
div.page h3, div.page h4, div.page h5 {
    border-bottom: 1px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
div.page h5 {
    border-bottom: 1px dotted #E7E7E7;
}
div.page hr {
    border: none;
    border-top: 2px solid #E7E7E7;
    display: block;
    margin: 20px 0px;
    padding: none;
}
div.page ul {
    list-style-type: disc !important;
}
div.page ul li {
    list-style-type: inherit !important;
    margin-left: 20px;
}
div.page p .highlighter-rouge, div.page li .highlighter-rouge {
    border: 1px dotted #C7C7C7;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin: 0px 2px;
    padding: 1px 4px;
}

/* Code - coding colors */
div.page pre.highlight {
    background-color: #FDFDFD;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    box-shadow: #F4F4F4 1px 1px 3px inset;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}
div.page pre.highlight code .n, div.page pre.highlight code .nf {
    color: #2DAAA6;
}
div.page pre.highlight code .nc, div.page pre.highlight code .kt, div.page pre.highlight code .k {
    color: #1A1AFF;
}
div.page pre.highlight code .cm, div.page pre.highlight code .c1 {
    color: #57A64A;
}
div.page pre.highlight code .s {
    color: #BE4B16;
}
div.page blockquote {
    background: #FAFAFA;
    border: 1px dashed #E7E7E7;
    border-left: 5px solid #EE6E73;
    border-radius: 3px;
    padding: 0px;
}
div.page blockquote p {
    color:  gray;
    margin: 10px;
}
