@charset "utf-8";

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #29b6f6;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}
.collection .collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
.post-header h1.post-title {
    color: #29b6f6;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}
p.rss-subscribe {
    margin: 0;
}

/* Customized by Michael Camara Pendon */

p.light {
    text-align: justify;
}

/* Markdown - HTML */
h1 {
    font-size: 300%;
}
h2 {
    font-size: 250%;
}
h3 {
    font-size: 200%;
}
h4 {
    font-size: 150%;
}
h5 {
    font-size: 120%;
}
h1, h2 {
    border-bottom: 2px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
h3, h4, h5 {
    border-bottom: 1px solid #E7E7E7;
    display: block;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0px;
}
hr {
    border: none;
    border-top: 2px solid #E7E7E7;
    display: block;
    margin: 20px 0px;
    padding: none;
}
ul {
    list-style-type: decimal !important;
}
ul li {
    list-style-type: inherit !important;
    margin-left: 20px;
}

/* Code - coding colors */
pre.highlight {
    background-color: #FDFDFD;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    box-shadow: #E7E7E7 1px 1px 3px inset;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    padding: 15px;
}
pre.highlight code .n {
    color: #2DAAA6;
}
pre.highlight code .nc, pre.highlight code .kt, pre.highlight code .k {
    color: #1A1AFF;
}
pre.highlight code .cm {
    color: #57A64A;
}
blockquote {
    padding-left: 10px;
}
blockquote p {
    color:  gray;
    padding: 15px 10px;
}

/* Layout */
div.page {
    margin-bottom: 50px;
}
code.highlighter-rouge {
    background-color: #F7F7F7;
    border: 1px dotted #D7D7D7;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    padding: 2px 4px;
}