---
layout: default
---

<div class="section no-pad-bot banner-section" id="index-banner">
  <div class="container main-section">
    <h1 class="header center title">{{ site.title }}</h1>
    <div class="row center">
      <h5 class="header col s12 light description">{{ site.description }}<br/>{{ site.campaign_slogan }}</h5>
    </div>
    <br/>
    <div class="row center">
      <a href="/tutorial/get-started-sqlserver" id="get-started-button" class="btn-large waves-effect waves-light orange circled-large button">
        Get Started
      </a>
    </div>
  </div>
  <br/>
  <br/>
</div>

<div class="icon-section">
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">emoji_people</i></h1>
            <h5 class="center">Easy to Use</h5>
            <p class="light">RepoDb operations were implemented as extended methods of the IDbConnection object. For as long the connection is open, the developers can do all the activities towards the database.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">flash_on</i></h1>
            <h5 class="center">High Performant</h5>
            <p class="light">RepoDb has its own compiler and pre-caches the already-generated compiled expressions for future reusabilities. It understands your schema to create the most optimal compiled expression AOT.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">memory</i></h1>
            <h5 class="center">Memory Efficient</h5>
            <p class="light">RepoDb extracts and caches the object properties, execution contexts, object mappings and SQL statements. It is reusing them all throughout the process of transformations and executions.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">dynamic_feed</i></h1>
            <h5 class="center">Dynamic and Hybrid</h5>
            <p class="light">RepoDb is a micro-ORM that provides some advance features of full-fledge ORMs. It significantly help the developers to simplify the experience when context-switching during the development.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">public</i></h1>
            <h5 class="center">Open-Source Software</h5>
            <p class="light">RepoDb is an open-source software and will always be free. It is authored to further improve the .NET data access experiences and solutions, togetherwith the collective ideas of the community.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center light-blue-text"><i class="material-icons">high_quality</i></h1>
            <h5 class="center">High Quality</h5>
            <p class="light">RepoDb is a high-quality micro-ORM supported by thousands real-life based Unit and Integration Tests. It is highly tested by various critical systems that is running in production environment.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="detail-section">
  <div class="container">
      <div class="group">
        <h3 class="center uppercase lighter">What you will learn today</h3>
        <div>
          <p class="center">Put more contents here</p>
        </div>
      </div>
  </div>
  <div class="container">
      <div class="group">
        <h3 class="center uppercase lighter">Why use this ORM library</h3>
        <div>
          <p class="center">Put more contents here</p>
        </div>
      </div>
  </div>
  <div class="container">
      <div class="group">
        <h3 class="center uppercase lighter">How does it solve your problem</h3>
        <div>
            <p class="center">Put more contents here</p>
        </div>
      </div>
  </div>
</div>